.progress-bar{
	background-color: #1a1a1a;
	height: 25px;
	padding: 5px;
	width: 350px;
	margin:50px 0;
	border-radius: 5px;
	box-shadow: 0 1px 15px #000 inset, 0 1px 0 #444;

}

.progress-bar span{
	display: inline-block;
	height: 100%;
	width: 0;
	border-radius: 3px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
}

.blue{
	background-color: blue;
}
.green{
	background-color: green;
}
.orange{
	background-color: orange;
}